
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutFlower.cshtml";
}


@{ ViewBag.Title = "About";
                Layout = "~/Views/Shared/_LayoutFlower.cshtml"; }

<h2 class="text-center">Flower World</h2>
<div class="text-center">
    <p>
        Welcome to the online Flower World Shop. What a wonderful thing it is to make someone smile. In fact, it's an art to make people smile and express a passion for keeping family and friends together. Flowers are not only a nice idea but also a way to create and share happiness. We enjoy as much as you do the moment when your friend or loved one smiles upon receiving flowers.

        Everyone loves flowers, and we feel blessed to be able to assist you in creating happiness for your friends or loved ones on those special occasions.

        We are well known source for fresh flower delivery service. Our reputation as the industry leader in professional gift delivery ensures your order is handled quickly and thoughtfully to your destination quickly and conveniently anywhere. time. send flowers to Hanoi

        FlowerWorldShop@gmail.com

        is your number one choice for international flower delivery in Hanoi, Vietnam. We have been in business since 2002 and have built a reputation for providing beautiful, creative fresh flowers at competitive prices. Customer satisfaction is a top priority and we work hard to ensure that every arrangement we create is flawless and delivered as quickly as possible.

    <p>
        We have offices and branches in 63 provinces of Vietnam and 250 countries. We are a member and partner of many reliable florists such as: Teleflora, Interflora, PFO, FTD, UFO, VietNamFlowerNetwork... If you are Vietnamese, just click here to order flowers. about Hanoi, Vietnam

        Our goal is to continuously improve our network to provide our customers with the best services available online or anywhere else!

        With a diversified, modern and highly secure payment system, we will bring the most convenience to customers. We accept many payment methods such as wire transfer, Internet Banking, ATM, Western Union, Money Gram... Especially, you can pay online through the international payment gateway Paypal.com.

        FlowerWorldShop.com is constantly working to develop and improve our business.
    </p>
    <p>
        We work hard every day to be the best online florist for Vietnamese. We are always open to feedback and suggestions from our customers. To our existing customers, we want to thank you for your cooperation and we want you to know that we really take your business seriously and never take it for granted. For new customers, we invite you to try our service. We offer a complete satisfaction guarantee. We look forward to the opportunity to serve you both now and in the future.

        Hanoi Gifts and Flowers One Member Co., Ltd

        Address: 8 Ton That Thuyet, Mi Dinh District, Hanoi, Vietnam

        Email: flowerWorldShop@gmail.com; Hotline: 00 84 97 3535 559
    </p>
</div>

