
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_LayoutFlower.cshtml";
}


<link href="/FlowerStyle/css/Product.css" rel="stylesheet" />
<!-- content -->
<section class="wrapper">
    <div class="products">
        <ul>
            <li class="main-product">
                <div class="img-product">
                    <img class="img-prd"
                         src="https://hyt.r.worldssl.net/hinh-hoa-tuoi/thumb/bo-hoa-tuoi/2065_anh-duong.jpg"
                         alt="">
                </div>
                <div class="content-product">
                    <h3 class="content-product-h3">Ánh Dương</h3>
                    <div class="content-product-deltals">
                        <div class="price">
                            <span class="money">250.000đ</span>
                        </div>
                        <button type="button" class="btn btn-cart">Thêm Vào Giỏ</button>
                    </div>
                </div>
            </li>
            <li class="main-product">
                <div class="img-product">
                    <img class="img-prd"
                         src="https://hyt.r.worldssl.net/hinh-hoa-tuoi/thumb/bo-hoa-tuoi/9444_gian-di.jpg"
                         alt="">
                </div>
                <div class="content-product">
                    <h3 class="content-product-h3">Giản dị</h3>
                    <div class="content-product-deltals">
                        <div class="price">
                            <span class="money">129.000đ</span>
                        </div>
                        <button type="button" class="btn btn-cart">Thêm Vào Giỏ</button>
                    </div>
                </div>
            </li>
            <li class="main-product">
                <div class="img-product">
                    <img class="img-prd"
                         src="https://hyt.r.worldssl.net/hinh-hoa-tuoi/thumb/hoa-tuoi-hop/11614_ao-uoc.jpg"
                         alt="">
                </div>
                <div class="content-product">
                    <h3 class="content-product-h3">Ao ước</h3>
                    <div class="content-product-deltals">
                        <div class="price">
                            <span class="money">159.000đ</span>
                        </div>
                        <button type="button" class="btn btn-cart">Thêm Vào Giỏ</button>
                    </div>
                </div>
            </li>
            <li class="main-product no-margin">
                <div class="img-product">
                    <img class="img-prd"
                         src="https://hyt.r.worldssl.net/hinh-hoa-tuoi/thumb/bo-hoa-tuoi/4840_only-you.jpg"
                         alt="">
                </div>
                <div class="content-product">
                    <h3 class="content-product-h3">Only You</h3>
                    <div class="content-product-deltals">
                        <div class="price">
                            <span class="money">890.000đ</span>
                        </div>
                        <button type="button" class="btn btn-cart">Thêm Vào Giỏ</button>
                    </div>
                </div>
            </li>
            <li class="main-product">
                <div class="img-product">
                    <img class="img-prd"
                         src="https://hyt.r.worldssl.net/hinh-hoa-tuoi/thumb/gio-hoa-tuoi/6924_hanh-phuc-nho-nho.jpg"
                         alt="">
                </div>
                <div class="content-product">
                    <h3 class="content-product-h3">
                        Hạnh Phúc Nho Nhỏ
                    </h3>
                    <div class="content-product-deltals">
                        <div class="price">
                            <span class="money">219.000đ</span>
                        </div>
                        <button type="button" class="btn btn-cart">Thêm Vào Giỏ</button>
                    </div>
                </div>
            </li>
            <li class="main-product">
                <div class="img-product">
                    <img class="img-prd"
                         src="https://hyt.r.worldssl.net/hinh-hoa-tuoi/thumb/hoa-tuoi-hop/3197_gui-nguoi-toi-yeu.jpg"
                         alt="">
                </div>
                <div class="content-product">
                    <h3 class="content-product-h3">Gửi Người Tôi Yêu</h3>
                    <div class="content-product-deltals">
                        <div class="price">
                            <span class="money">115.000đ</span>
                        </div>
                        <button type="button" class="btn btn-cart">Thêm Vào Giỏ</button>
                    </div>
                </div>
            </li>
            <li class="main-product">
                <div class="img-product">
                    <img class="img-prd"
                         src="https://hyt.r.worldssl.net/hinh-hoa-tuoi/thumb/lan-ho-diep/11687_cat-tuong.jpg"
                         alt="">
                </div>
                <div class="content-product">
                    <h3 class="content-product-h3">Cát tường</h3>
                    <div class="content-product-deltals">
                        <div class="price">
                            <span class="money">125.000đ</span>
                        </div>
                        <button type="button" class="btn btn-cart">Thêm Vào Giỏ</button>
                    </div>
                </div>
            </li>
            <li class="main-product no-margin">
                <div class="img-product">
                    <img class="img-prd"
                         src="https://hyt.r.worldssl.net/hinh-hoa-tuoi/thumb/binh-hoa-tuoi/11676_binh-hong-mix-30.jpg"
                         alt="">
                </div>
                <div class="content-product">
                    <h3 class="content-product-h3">BÌNH HOA HỒNG </h3>
                    <div class="content-product-deltals">
                        <div class="price">
                            <span class="money">850.000đ</span>
                        </div>
                        <button type="button" class="btn btn-cart">Thêm Vào Giỏ</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>


